<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand">سامانه ثبت وظیفه</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mt-2 mt-md-0">
      <li *ngIf="api.user().role === '0'" class="nav-item hover" routerLink="/app/users">
        <a class="nav-link" >کاربران</a>
      </li>
      <li class="nav-item hover" routerLink="/app/document">
        <a class="nav-link" >عملیات</a>
      </li>
      <li class="nav-item hover" routerLink="/app/ie">
        <a class="nav-link" >ورود و خروج </a>
      </li>
      <li *ngIf="api.user().role === '0'"  class="nav-item hover" routerLink="/app/report">
        <a class="nav-link" >گزارش </a>
      </li>
      <li *ngIf="api.user().role === '0'"  class="nav-item hover" routerLink="/app/salary">
        <a class="nav-link" >حقوق و دستمزد </a>
      </li>
    </ul>
  </div>
  <div class="ltr">
      <i class="fa fa-power-off hover text-danger" routerLink="/login"></i>
      <span class="ml-4 mr-1   user-name">{{ api.user().userName }}</span>
      <i class="fa fa-user  "></i>
     </div>
</nav>
<div class="container" [style.marginTop.px]="70">
  <router-outlet></router-outlet>
</div>
