<div class="row">
    <div class="col-3">
        <input type="time" [(ngModel)]="IE.entryTime" class="form-control mb-1" placeholder="ساعت ورود" />
        <input type="time" [(ngModel)]="IE.exitTime" class="form-control mb-1" placeholder="ساعت خروج" />
        <button class="btn btn-primary btn-block mt-1" (click)="save()">
          {{ IE.id === -1 ? 'اضافه کردن' : 'ویرایش' }}
        </button>
    </div>
    <div class="col-9">
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th>ردیف</th>
            <th>ساعت ورود</th>
            <th>ساعت خروج</th>      
            <th>عملیات</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let IE of IEs;let i = index">
            <td>{{ i }}</td>
            <td>{{ IE.entryTime }}</td>
            <td>{{ IE.exitTime }}</td>
            <th>
                <i class="fa fa-trash text-danger mr-2 action-icon hover" (click)="delete(IE.id)"></i>
                <i class="fa fa-edit text-info mr-2 action-icon hover" (click)="edit(IE)"></i>
            </th>
          </tr>
        </tbody>
    </table>
    </div>
  </div>